$white: #fff;
$black: #000;
$text-dark: rgba(0, 0, 0, 1);

$primary: #3498db; 
$primary-dark: #2980b9;
$accent-light: rgba(187, 222, 251, 1);

$danger: #e74c3c;
$danger-dark: #c0392b;

$bg-gray: #f3f3f3;
$bg-dark: #242424;
$bg-darker: #1a1a1a;
$bg-light: #f9f9f9;

$white-80: rgba(255, 255, 255, 0.8);
$white-52: rgba(255, 255, 255, 0.52);
$black-25: rgba(0, 0, 0, 0.25);
$black-30: rgba(0, 0, 0, 0.3);
$black-05: rgba(0, 0, 0, 0.05);

$font-family: 'Nunito', sans-serif;


