.nav-bar
{
    display: flex;
    width: 90%;
    margin: 0 auto;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(1px);          
    border-radius: 10px;
} 

.nav-bar__market-logo
{
    width: 15%;
    height: auto;
    object-fit: contain;
    margin: 10px 0 10px 10px;
    user-select: none;
}

.nav-bar__button
{
    padding: 0;
    margin: auto 0;
    width: 3.8%;
    font-size: clamp(10px, 2vw, 18px);
    background: transparent;
    font-family: 'Nunito', sans-serif;
    max-height: 30px;
}

.nav-bar__button:focus 
{
  outline: none;
}

.nav-bar__button:hover 
{
  outline: none;
}

.nav-bar__button:active 
{
  transform: scale(0.96);   
}

.nav-bar__search-basket
{
  width: 100%;
  min-width: 48px;
  border: none;
  cursor: pointer;
  max-width: 30px;
  max-height: 30px;
  margin-top: 9%;
}

.nav-bar__red-point
{
  width: 30%;
  height: 100%;
  padding-top: 3%;
  padding-right: 2%;
}

.nav-bar__start-button
{
  width: 10%;
  border: none;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  max-height: 30px;
  background: #3498DB;
  border-radius: 8px;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  max-width: 140px;
  user-select: none;
  margin: auto 0 auto 2.35%;
}

.nav-bar__start-button:focus 
{
  outline: none;
}

.nav-bar__start-button:hover 
{
  outline: none;
}

.nav-bar__start-button:active 
{
  transform: scale(0.96);   
}
